<div class='card'>
    <div class='card-header'>
        PLAN SUMMARY
    </div>

    <div class='card-body'>
        <div class='row'>{{totalCalories}} CALORIES</div>
        <div class='row'>
            <div class='col'>{{totalCarbs}}g carbs ({{percentCarbs}}%)</div>
            <div class='col'>{{totalProtein}}g protein ({{percentProtein}}%)</div>
            <div class='col'>{{totalFat}}g fat ({{percentFat}}%)</div>
        </div>
    </div>

    <div class='card-body'>
        <div class='row'>
            <div class='col'>DAY TYPE:</div>
            <div class='col'>
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="daytype" [(ngModel)]="dayTypeId"
                (change)="onTextChanged()">
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" [value]="1" [checked]="true">Rest
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" [value]="2">Light
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" [value]="3">Moderate
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" [value]="4">Hard
                </label>
              </div>
            </div>
        </div>

    </div>
</div>