<div class='card'>
    <div class='card-header'>
        PLAN SUMMARY
    </div>

    <div class='card-body'>
        <div class='row'>{{mealPlan[0].calories}} CALORIES</div>
        <div class='row'>
            <div class='col'>{{mealPlan[0].carbs}}g carbs ({{mealPlan[0].carbs}}%)</div>
            <div class='col'>{{mealPlan[0].carbs}}g protein ({{mealPlan[0].carbs}}%)</div>
            <div class='col'>{{mealPlan[0].carbs}}g fat ({{mealPlan[0].carbs}}%)</div>

        </div>
    </div>
</div>
