<div class='card'>
    <div class='card-header'>
        PLAN SUMMARY
    </div>

    <div class='card-body'>
        <div class='row' *ngFor='let meal of mealPlan'>
            <div class='col'>Meal: {{meal.name}}</div>
            <div class='col' *ngIf='meal.tag'>({{meal.tag}})</div>
            <div class='col'>{{meal.calories}} CALORIES</div>
            <div class='col'>{{meal.carbs}}g carbs ({{meal.carbs*400/meal.calories}}%)</div>
            <div class='col'>{{meal.protein}}g protein ({{meal.protein*400/meal.calories}}%)</div>
            <div class='col'>{{meal.fat}}g fat ({{meal.fat*900/meal.calories}}%)</div>
        </div>
    </div>
</div>
