<div class='card shadow custom-card'>
  <div class='card-header h4 header'>
    Basic Information
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col'>
        <label>Age</label>
      </div>
      <div class='col'>
        <input type='number' class="form-control form-control-sm" [(ngModel)]='user.age' (input)="onTextChanged()" />
      </div>
      <div class='col'>Gender:</div>
      <div class='col'>
        <div class="btn-group btn-group-toggle btn-group-sm btn-block" ngbRadioGroup name="gender" [(ngModel)]="user.gender"
          (change)="onTextChanged()">
          <label ngbButtonLabel class="btn-dark">
            <input ngbButton type="radio" value="male" [checked]="true">male
          </label>
          <label ngbButtonLabel class="btn-dark">
            <input ngbButton type="radio" value="female">female
          </label>
        </div>
      </div>
    </div>


    <div class='row'>
      <div class='col'>Height:</div>
      <div class='col input-group input-group-sm btn-block'>
        <input type='number' class="form-control" aria-describedby="inputGroup-sizing-sm" [(ngModel)]='user.height'
          (input)="onTextChanged()" />
        <div class="input-group-append">
          <span class="input-group-text" id="inputGroup-sizing-sm">cm</span>
        </div>
      </div>
      <div class='col'>Weight:</div>
      <div class="col input-group input-group-sm">
        <input type="number" class="form-control" aria-describedby="inputGroup-sizing-sm" [(ngModel)]='user.weight'
          (input)="onTextChanged()" />
        <div class="input-group-append">
          <span class="input-group-text" id="inputGroup-sizing-sm">kg</span>
        </div>
      </div>
    </div>


    <div class='row'>
      <div class='col'>Bodyfat (optional):</div>
      <div class='col input-group input-group-sm'>
        <input type='number' class="form-control" aria-describedby="inputGroup-sizing-sm" [(ngModel)]='user.bodyfat'
          (input)="onTextChanged()" />
        <div class="input-group-append">
          <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
        </div>
      </div>
      <div class='col'></div>
      <div class='col'></div>
    </div>


  </div>
</div>

<br />

<div class='card shadow custom-card'>
  <div class='card-header h4 header'>
    Lifestyle
  </div>
  <div class='card-body' style="padding: 0em 1em 0em 1em;">
    <div class='row'>
      <div class="btn-group btn-group-toggle btn-block" ngbRadioGroup name="lifestyleOption" [(ngModel)]="user.lifestyle"
        (change)="onTextChanged()">
        <label ngbButtonLabel class="btn-outline-secondary" style="border: 0;">
          <input ngbButton type="radio" [value]="1" [checked]="true">
          <div>
            <div class="h4">Sedentary</div>
            <hr />
            <p>Spend most of the day sitting (working on computer, no exercise)</p>
          </div>
        </label>
        <label ngbButtonLabel class="btn-outline-secondary" style="border: 0;">
          <input ngbButton type="radio" [value]="2">
          <div>
            <div class="h4">Light</div>
            <hr />
            <p>Spend a good part of the day on your feet (teacher, real estate)</p>
          </div>
        </label>
        <label ngbButtonLabel class="btn-outline-secondary" style="border: 0;">
          <input ngbButton type="radio" [value]="3">
          <div>
            <div class="h4">Active</div>
            <hr />
            <p>Spend a good part of the day doing physical activities (waitress, delivery driver)</p>
          </div>
        </label>
        <label ngbButtonLabel class="btn-outline-secondary" style="border: 0;">
          <input ngbButton type="radio" [value]="4">
          <div>
            <div class="h4">Very Active</div>
            <hr />
            <p>Spend a good part of the day doing heavy physical activities (construction worker, mover)</p>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>

<br />

<!-- <div class='card shadow custom-card'>
  <div class='card-header h4 header'>
    Plan Configuration
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-3'>Macro preference:</div>
      <div class='col'>
        <div class="btn-group btn-group-toggle btn-group-sm btn-block" ngbRadioGroup name="macroPreferences"
          [(ngModel)]="user.macroPreferences" (change)="onTextChanged()">
          <label ngbButtonLabel class="btn-dark">
            <input ngbButton type="radio" [value]="1" [checked]="true">Highest Fat
          </label>
          <label ngbButtonLabel class="btn-dark">
            <input ngbButton type="radio" [value]="2">High Fat
          </label>
          <label ngbButtonLabel class="btn-dark">
            <input ngbButton type="radio" [value]="3">Balanced
          </label>
          <label ngbButtonLabel class="btn-dark">
            <input ngbButton type="radio" [value]="4">High Carb
          </label>
          <label ngbButtonLabel class="btn-dark">
            <input ngbButton type="radio" [value]="5">Highest Carb
          </label>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-4'>Number of meals:</div>
      <div class='col'>
        <div class="btn-group btn-group-toggle btn-group-sm" ngbRadioGroup name="numberOfMeals"
          [(ngModel)]="user.numberOfMeals" (change)="onTextChanged()">
          <label ngbButtonLabel class="btn-dark">
            <input ngbButton type="radio" [value]="4" [checked]="true">4
          </label>
          <label ngbButtonLabel class="btn-dark">
            <input ngbButton type="radio" [value]="5">5
          </label>
          <label ngbButtonLabel class="btn-dark">
            <input ngbButton type="radio" [value]="6">6
          </label>
        </div>
      </div>
      
      <div class='col-4'>Use intra-workout shake:</div>
      <div class='col'>
        <div class="btn-group btn-group-toggle btn-group-sm" ngbRadioGroup name="intraWorkoutShake"
          [(ngModel)]="user.numberOfMeals" (change)="onTextChanged()">
          <label ngbButtonLabel class="btn-dark">
            <input ngbButton type="radio" [value]="0" [checked]="true">No
          </label>
          <label ngbButtonLabel class="btn-dark">
            <input ngbButton type="radio" [value]="1">Yes
          </label>
        </div>
      </div>
    </div>

  </div>

</div> -->
<br />